{% extends 'base.html' %}


{% block title %}
	Product List
{% endblock %}


{% block content %}
    <ul>
        {% for product in products %}
{#        	 <li><a href="{% url 'product_detail' productId=product.id %}" style="color: black;text-decoration: none">{{ product.title }} / {{ product.price }}</a></li>#}
        	 <li><a href="{{ product.get_absolute_url }}" style="color: black;text-decoration: none">{{ product.title }} / {{ product.price }}</a></li>
        {% endfor %}
    </ul>
    <hr>
    <p>
        total of products : {{ number_of_products }}
    </p>
    <p>
        average of rating is : {{ avg_of_rating.rating__avg }}
    </p>
{% endblock %}
